<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Présentation</h1>
                <p>Une association humanitaire d'étudiants dévoués</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a ui-sref="home">Accueil</a></li>
                    <li class="active">Présentation</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="about-us" class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Qui nous sommes</h2>
            <p>Bonjour, et bienvenue sur le site web d’Africa Unite. Nous nous sommes efforcés de le rendre clair et ergonomique pour que vous puissiez trouver facilement les informations que vous cherchez.
Africa Unite est une jeune association à but non lucratif d'intérêt général. Elle a été créée en 2010 sur le campus de Supélec après deux ans d’existence en tant que club d’élèves. Avec notre équipe de 30 personnes nous essayons de favoriser l’accès à l’éducation au Burkina-Faso, car nous pensons sincèrement que l’éducation est un droit inaliénable et sera le principal facteur de progrès du Burkina Faso.</p>
        </div><!--/.col-sm-6-->
        <div class="col-sm-6">
            <h2>Notre projet</h2>
            <p>Concrètement nous travaillons sur deux fronts. Le premier est depuis 2008 l’amélioration d’un centre pour la jeunesse à Bobo Dioulasso, la deuxième ville du pays. Ce centre s’appelle l’ERJ, est ouvert à tous, et est le fruit d’une coopération franco-burkinabè. Il est géré par la mairie de Bobo Dioulasso. Nous y avons fait construire un château d’eau, des panneaux solaires et une salle de classe supplémentaire. Ce centre accueille désormais dans de très bonnes conditions toutes celles et ceux qui veulent venir y étudier ou s’amuser et est un élément central dans la vie du quartier.</p><p>Le deuxième front est celui de l’enseignement. Pour aider les jeunes burkinabè à envisager sereinement l’année scolaire à venir, nous leur donnons des cours de soutien pendant les vacances d’été. Les cours en petits groupes leur font énormément de bien et les aide à réussir leur année d’étude.</p>
        </div><!--/.col-sm-6-->
    </div><!--/.row-->

    <div class="gap"></div>
    <h1 class="center">Nos membres</h1>
    <p class="lead center">Quelques étudiants en école d'ingénieurs pour la promotion de l'éducation en Afrique.</p>
    <div class="gap"></div>

    <div id="meet-the-team" class="row">
        <div class="col-md-3 col-xs-6" ng-repeat="member in members">
            <div class="center">
                <p><img class="img-responsive img-thumbnail img-circle" ng-src="{{member.avatar.url == null ?'../assets/images/team-default.png':member.avatar.url}}" alt="" ></p>
                <h5>{{member.name}}<small class="designation muted">{{member.position}} - CS{{member.promotion}}</small></h5>
                <p>{{member.abstract}}</p>
                <a ng-show="signedIn()" class="btn btn-social btn-danger" ng-click="deleteMember(member)"><i class="icon-remove"></i></a>
            </div>
        </div>

        <!--<div class="col-md-3 col-xs-6">
            <div class="center">
                <p><img class="img-responsive img-thumbnail img-circle" src="../assets/images/team-default.png" alt="" ></p>
                <h5>David J. Robbins<small class="designation muted">Senior Vice President</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
            </div>
        </div>-->      
    </div><!--/#meet-the-team-->
    <div id="member-form" ng-show="signedIn()">
        <h3>Add a Member</h3>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Name" ng-model="newMember.name">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="position" ng-model="newMember.position">
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" placeholder="promotion" ng-model="newMember.promotion">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea rows="8" class="form-control" placeholder="Abstract" ng-model="newMember.abstract"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="file" rows="8" class="form-control" ngf-select="upload($files, $file, $event)" ng-model="newMember.avatar">
                    <img ngf-src="newMember.avatar" ngf-background="newMember.avatar" ngf-resize="{width: 20, height: 20, quality: 0.9}">
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg" ng-click="addMember(newMember)">Create Member</button>
        </form>
    </div><!--/#comment-form-->
</section><!--/#about-us-->