<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Présentation</h1>
                <p>Une association humanitaire d'étudiants solidaires</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a ui-sref="home">Accueil</a></li>
                    <li class="active">Présentation</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section id="about-us" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="center">Qui sommes nous ?</h2>
            <p>Africa Unite est une association humanitaire Loi 1901 reconnue d'utilité publique. Elle a été créée en 2010 sur le campus de Supélec après deux ans d’existence en tant que club d’élèves. Avec notre équipe de 30 personnes nous essayons de favoriser l’accès à l’éducation au Burkina-Faso, car nous pensons sincèrement que l’éducation est un droit inaliénable et sera le principal facteur de progrès du Burkina Faso.</p>
        </div><!--/.col-sm-6-->
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="center">Notre projet</h2>
            <p>Nous travaillons sur deux fronts. Le premier est depuis 2008 l’amélioration d’un centre pour la jeunesse à Bobo-Dioulasso, la deuxième ville du pays. Ce centre s’appelle l’ERJ, est ouvert à tous, et est le fruit d’une coopération franco-burkinabè. Il est géré par la mairie de Bobo Dioulasso. Nous y avons fait construire un château d’eau, des panneaux solaires et une salle de classe supplémentaire. Ce centre accueille désormais dans de très bonnes conditions toutes celles et ceux qui veulent venir y étudier ou s’amuser: c'est désormais un élément central dans la vie du quartier.</p><p>Le deuxième front est celui de l’enseignement. Pour aider les jeunes burkinabè à envisager sereinement l’année scolaire à venir, nous leur donnons des cours de soutien pendant les vacances d’été. Les cours en petites classes leur sont très bénéfiques, et leur permettent de mieux réussier leurs études secondaires.</p>
        </div><!--/.col-sm-6-->
    </div><!--/.row-->
    <div class="gap"></div>
    <hr>
    <h1 class="center">Nos donateurs</h1>
    <p class="lead center">Ils ont cru en nous. Nous les en remercions !</p>
    <div class="gap"></div>
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="col-sm-8 pull-right">
            <h2 class="media-heading"><a href="https://www.mazarsrecrute.fr/challengeinnovation/">Mazars</a></h2>
            <small class="designation muted">Mazars Challenge Innovation - Première Place</small>
            <p>En 2014, c’est Africa Unite de Supelec qui a décroché le premier prix. Les étudiants ont ainsi concrétisé leur projet de création d’un centre culturel et éducatif autonome au Burkina Faso.</p>
            </div>
            <div class="col-sm-4 pull-left">
                <a href="https://www.mazarsrecrute.fr/challengeinnovation/"><img class="img-responsive img-rounded" src="../assets/images/ads/mazar.png" alt="donateur"></a>
            </div>
        </div><!--/.col-sm-6-->
        <div class="col-sm-6">
            <div class="col-sm-8 pull-right">
            <h2 class="media-heading"><a href="http://www2.deloitte.com/fr/fr/pages/presse/2015/la-fondation-deloitte-poursuit-ses-actions-aupres-des-etudiants.html">Fondation Deloitte</a></h2>
            <small class="designation muted">Lauréats du Prix 2015 de la Fondation Deloitte - Troisième Place</small>
            <p>Le jury a aimé le pragmatisme de l’équipe ; une action dans le temps avec des résultats tangibles ; la mise en autonomie des structures créées ; un dispositif complet (santé, éducation, énergie renouvelable).</p>
            </div>
            <div class="col-sm-4 pull-left">
                <a href="http://www2.deloitte.com/fr/fr/pages/presse/2015/la-fondation-deloitte-poursuit-ses-actions-aupres-des-etudiants.html"><img class="img-responsive img-rounded" src="../assets/images/ads/fondation_dentreprise_deloitte.jpg" alt="donateur"></a>
            </div>
        </div><!--/.col-sm-6-->
    </div><!--/.row-->
    <div class="gap"></div>
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="col-sm-8 pull-right">
            <h2 class="media-heading"><a href="http://www.lesamisdepaul.org/">Les amis de Paul Chatelain</a></h2>
            <small class="designation muted">Espace Rencontre Jeunesse de Dafra - 2010</small>
            <p>L'association Les amis de Paul Chatelin a été créée en hommage à Paul Chatelin qui s'était lancé dans des études de médecine afin de pouvoir aider les autres. </p>
            </div>
            <div class="col-sm-4 pull-left">
                <a href="http://www.lesamisdepaul.org/"><img class="img-responsive img-rounded" src="../assets/images/ads/apl.bmp" alt="donateur"></a>
            </div>
        </div><!--/.col-sm-6-->
        <div class="col-sm-6">
            <div class="col-sm-8 pull-right">
            <h2 class="media-heading"><a href="http://www.forum-centrale-supelec.fr/">Forum CentraleSupélec</a></h2>
            <small class="designation muted"> Bourse du Forum</small>
            <p>Chaque année, dans le cadre des bourses attribuées aux associations et clubs de Supélec le Forum CentraleSupélec soutient AfricaUnite pour son projet humanitaire d'envergure.</p>
            </div>
            <div class="col-sm-4 pull-left">
                <a href="http://www.forum-centrale-supelec.fr/"><img class="img-responsive img-rounded" src="../assets/images/ads/forumcs.png" alt="donateur"></a>
            </div>
        </div><!--/.col-sm-6-->
    </div><!--/.row-->
    <div class="gap"></div>
    <hr>
    <h1 class="center">Nos membres</h1>
    <p class="lead center">Quelques membres illustres</p>
    <div class="gap"></div>

    <div id="meet-the-team" class="row">
        <div class="col-md-3 col-xs-6" ng-repeat="member in members">
            <div class="center">
                <p><img class="img-responsive img-thumbnail img-circle" ng-src="{{member.avatar.url == null ?'../assets/images/team-default.png':member.avatar.url}}" alt="" ></p>
                <h5>{{member.name}}<small class="designation muted">{{member.position}} - CS{{member.promotion}}</small></h5>
                <p>{{member.abstract}}</p>
                <a ng-show="signedIn()" class="btn btn-social btn-danger" ng-click="deleteMember(member)"><i class="icon-remove"></i></a>
            </div>
        </div>

        <!--<div class="col-md-3 col-xs-6">
            <div class="center">
                <p><img class="img-responsive img-thumbnail img-circle" src="../assets/images/team-default.png" alt="" ></p>
                <h5>David J. Robbins<small class="designation muted">Senior Vice President</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
            </div>
        </div>-->      
    </div><!--/#meet-the-team-->
    <div id="member-form" ng-show="signedIn()">
        <h3>Add a Member</h3>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Name" ng-model="newMember.name">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="position" ng-model="newMember.position">
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" placeholder="promotion" ng-model="newMember.promotion">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea rows="8" class="form-control" placeholder="Abstract" ng-model="newMember.abstract"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="file" rows="8" class="form-control" ngf-select="upload($files, $file, $event)" ng-model="newMember.avatar">
                    <img ngf-src="newMember.avatar" ngf-background="newMember.avatar" ngf-resize="{width: 20, height: 20, quality: 0.9}">
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg" ng-click="addMember(newMember)">Create Member</button>
        </form>
    </div><!--/#comment-form-->
</section><!--/#about-us-->