<section id="blog" class="container">
    <div class="row">
        <aside class="col-sm-4 col-sm-push-8">
            <div class="widget search">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Search" ng-model="searchText.title">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div><!--/.search-->

            <div class="widget ads">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="../assets/images/ads/mazar.png" alt=""></a>
                    </div>

                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="../assets/images/ads/apl.bmp" alt=""></a>
                    </div>
                </div>
                <p> </p>
            </div><!--/.ads-->     

            <div class="widget facebook-fanpage">
                <h3>Page Facebook</h3>
                <div class="widget-content">
                    <div class="fb-page" data-href="https://www.facebook.com/Africa-Unite-487859707941654/timeline/" 
                    data-small-header="false" data-adapt-container-width="true" 
                    data-hide-cover="false" data-show-facepile="true" 
                    data-show-posts="true">
                    </div>
            </div>
            </div>
           <div class="gap"></div>
        </aside>           
        <div class="col-sm-8 col-sm-pull-4">
            <div class="blog">
                <div class="blog-item">
                    <!--<img class="img-responsive img-blog" src="../assets/images/blog/blog2.jpg" width="100%" alt="" />-->
                    <div class="blog-content">
                        <h3>{{post.title}}</h3>
                        <div class="entry-meta">
                            <span><i class="icon-user"></i> <a href="#">{{post.user.username}}</a></span>
                            <span><i class="icon-calendar"></i>  {{post.created_at|date:'mediumDate'}}</span>
                            <span ng-hide="signedIn()"><a><i class="icon-thumbs-up"></i> {{post.upvotes}}</a></span>
                            <span ng-show="signedIn() "ng-click="incrementUpvotes(post)"><a><i class="icon-thumbs-up"></i> {{post.upvotes}}</a></span>
                            <span><i class="icon-comment"></i> {{post.comments.length}}</span>       
                        </div>
                        <p class="lead">{{post.abstract}}</p>

                        <p>{{post.body}}</p>

                        <hr>

                        <div class="tags">
                            <i class="icon-tags"></i> Tags <a class="btn btn-xs btn-primary" href="#">CSS3</a> <a class="btn btn-xs btn-primary" href="#">HTML5</a> <a class="btn btn-xs btn-primary" href="#">WordPress</a> <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                        </div>

                        <p>&nbsp;</p>

                        <div class="author well">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="avatar img-thumbnail" src="../assets/images/blog/avatar.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <strong>Africa Unite</strong>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                                </div>
                            </div>
                        </div><!--/.author-->

                        <div id="comments">
                            <div id="comments-list">
                                <h3>{{post.comments.length}} Comments</h3>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar img-circle" src="../assets/images/blog/avatar1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                                <a class="pull-right" href="#"><i class="icon-repeat"></i> Reply</a>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                        </div>
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="avatar img-circle" src="../assets/images/blog/avatar3.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="well">
                                                    <div class="media-heading">
                                                        <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                                        <a class="pull-right" href="#"><i class="icon-repeat"></i> Reply</a>
                                                    </div>
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                                </div>
                                            </div>
                                        </div><!--/.media-->
                                    </div>
                                </div><!--/.media-->
                                <div class="media" ng-repeat="comment in post.comments track by $index">
                                    <div class="pull-left">
                                        <img class="avatar img-circle" src="../assets/images/blog/avatar2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <strong>{{comment.user.username}}</strong>&nbsp; <small>{{comment.created_at|date:'mediumDate'}}</small>
                                                <a class="pull-right" ng-click="deleteComment(comment,post,$index)"><i class="icon-remove"></i> Delete</a>
                                            </div>
                                            <p>{{comment.body}}</p>
                                        </div>
                                    </div>
                                </div><!--/.media-->
                            </div><!--/#comments-list-->  

                            <div id="comment-form" ng-show="signedIn()">
                                <h3>Leave a comment</h3>
                                <form class="form-horizontal" role="form">
                                    <!--<div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" placeholder="Name" ng-model="comment_author">
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea rows="8" class="form-control" placeholder="Comment" ng-model="body"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-lg" ng-click="addComment()">Submit Comment</button>
                                </form>
                            </div><!--/#comment-form-->
                        </div><!--/#comments-->
                    </div>
                </div><!--/.blog-item-->
            </div>
        </div><!--/.col-md-8-->
    </div><!--/.row-->
</section><!--/#blog-->