<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Notre action</h1>
                <p></p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a ui-sref="home">Accueil</a></li>
                    <li class="active">Projets</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->     

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap">
                    <h2>Notre projet</h2>
                    <p>Nous pensons sincèrement que l’éducation est un droit inaliénable et sera le principal facteur de progrès.</p>
                </div>                
            </div>
        </div>
        <div class="row col-md-12">
            <div class="blog" ng-repeat="service in services track by $index">
                <div class="blog-item">
                    <div class="blog-content">
                        <h2>{{service.title}}</h2>
                        <a class="pull-right btn btn-social btn-danger" ng-click="deleteService(service)"><i class="icon-remove"></i></a>
                        <blockquote>
                        <p class="lead">{{service.typeService}}</p>
                        </blockquote>
                        <p>{{service.description}}</p>
                        <hr>
                        <p>&nbsp;</p>
                    </div>
                </div><!--/.blog-item-->
            </div>
            <div ng-show="signedIn()">
                <h3>Create a Service</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Title" ng-model="title">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Type du projet (projet, mission, campus, etc)" ng-model="typeService">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea rows="8" class="form-control" placeholder="body" ng-model="description"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg" ng-click="addService()">Submit Post</button>
                </form>
            </div><!--/#service-form-->
        </div><!--/.col-md-8-->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-windows icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Windows Development</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-android icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Android Development</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-apple icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">iOS Development</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-linux icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Linux Development</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-dribbble icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Graphic Design</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-google-plus icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SEO Services</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.row-->
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>Quelques propos sur notre projet</h2>
                    <p>Il s'agit d'être de la présentation des projets</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p> A la suite de la première mission réussie en collaboration avec l’ERJ, Africa Unite a choisi de se lancer de nouveaux défis en se donnant pour objectif de développer intégralement un nouveau centre éducatif, culturel et autonome au Burkina Faso. L’aventure a commencé par l’achat d’un terrain de 935m² dans un futur quartier résidentiel proche de Bobo-Dioulasso, deuxième ville du pays, ne disposant pas d’un tel centre.</p>
                            <small>Mathieu Delattre <cite title="Source Title">Projet 2014</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Après l’achat du terrain, Africa Unite s’est donné comme objectif immédiat la construction d’une première salle d’étude. En effet, l’objectif premier d’Africa Unite est l’accès à l’éducation donc la construction rapide d’une salle apporte une première réponse aux besoins burkinabais.</p>
                            <small>Grégoire Boudoux <cite title="Source Title">Président d'Africa Unite</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#services-->